<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail" id="item">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h5 class="pull-right" id="amountRaised-{{targetPost._id}}">${{targetPost.amountRaised}} of ${{targetPost.price}} raised</h5>
            <h4><a href="#">{{targetPost.title}}</a>
            </h4>
            <div class="progress" id="thumbnail-bar">
                <div class="progress-bar progress-bar-success progress-bar-striped" id="progress-bar-{{targetPost._id}}" role="progressbar" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100" style="width:{{targetPost.percentageRaised}}%">
            </div>
        </div>
        <h5 class="pull-right">{{targetPost.expirationDate}}</h5>
        <div class="dropdown">

        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Bid</button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <button type="button" class="btn btn-success btn-sm" buttonType="bidButton" ng-click="bid(targetPost._id, 1, targetPost.amountRaised, targetPost.price);" id="{{targetPost._id}}">$1.00</button>
                  <button type="button" class="btn btn-success btn-sm" buttonType="bidButton" ng-click="bid(targetPost._id, 2, targetPost.amountRaised, targetPost.price);" id="{{targetPost._id}}">$2.00</button>
                  <button type="button" class="btn btn-success btn-sm" buttonType="bidButton" ng-click="bid(targetPost._id, 5, targetPost.amountRaised, targetPost.price);" id="{{targetPost._id}}">$5.00</button>
              </ul>
        </div>

        <p align="justify">{{targetPost.description}}</p>
    </div> </a>
    <div class="ratings">
        <p class="pull-right">15 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</div>